/checkouts
/checkouts/
*.class
/classes
/classes/
.hg/
.hgignore
*jar
*.jar
*swp
*swo
/.lein-*
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
/lib/
/.nrepl-port
.nrepl-port
pom.xml
pom.xml.asc
/target
/target/
/char-image/
